<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">

    <context:component-scan base-package="org.control_alt_del.interruptus.rest" />
    <context:component-scan base-package="org.control_alt_del.interruptus.core.esper" />

    <context:property-placeholder location="classpath:configuration.properties" />

    <bean id="jsonObjectMapper"     class="org.codehaus.jackson.map.ObjectMapper" scope="singleton"/>
    <bean id="esperConfiguration"   class="com.espertech.esper.client.Configuration" scope="singleton" />

    <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean" scope="singleton">
        <property name="targetMethod"   value="addImport"/>
        <property name="targetObject"   ref="esperConfiguration"/>
        <property name="arguments"      value="com.espertech.esperio.amqp.*"/>
    </bean>

    <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean" scope="singleton">
        <property name="targetMethod"   value="addImport"/>
        <property name="targetObject"   ref="esperConfiguration"/>
        <property name="arguments"      value="com.espertech.esperio.amqp.*"/>
    </bean>

    <bean id="esperDefaultProvider" class="org.springframework.beans.factory.config.MethodInvokingFactoryBean" scope="singleton">
        <property name="staticMethod"   value="com.espertech.esper.client.EPServiceProviderManager.getDefaultProvider"/>
        <property name="arguments"      ref="esperConfiguration"/>
    </bean>

    <bean id="esperDefaultProviderAdministrator"
          class="com.espertech.esper.client.EPAdministrator"
          factory-bean="esperDefaultProvider"
          factory-method="getEPAdministrator"
          scope="singleton"/>

    <bean id="esperepEPRuntimeImpl"
          class="com.espertech.esper.core.service.EPRuntimeImpl"
          factory-bean="esperDefaultProvider"
          factory-method="getEPRuntime"
          scope="singleton"/>

    <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean" lazy-init="false" scope="singleton">
        <property name="staticMethod"   value="org.control_alt_del.interruptus.AMQPJsonToMap.setEPServiceProvider"/>
        <property name="arguments"      ref="esperDefaultProvider"/>
    </bean>

    <bean id="zookeeperConfiguration" class="org.control_alt_del.interruptus.core.ZookeeperConfiguration">
        <constructor-arg value="${zookeeper.configuration.path}"/>
        <property name="typeConfiguration" ref="typeConfiguration"/>
        <property name="flowConfiguration" ref="flowConfiguration"/>
    </bean>

    <bean id="zookeeperLeaderListener" class="org.control_alt_del.interruptus.core.zookeeper.ZookeeperLeaderListener">
        <constructor-arg ref="zookeeperConfiguration"/>
    </bean>

    <bean id="zookeeperFactory" class="org.control_alt_del.interruptus.core.zookeeper.ZookeeperFactoryBean" lazy-init="false">
        <property name="zookeeperConfiguration" ref="zookeeperConfiguration"/>
        <property name="leaderSelectorListener" ref="zookeeperLeaderListener"/>
        <property name="leaderSelectorPath" value="${zookeeper.leader.path}"/>
        <property name="connectionString" value="${zookeeper.connection}"/>
        <property name="listeners">
            <list>
                <bean class="org.control_alt_del.interruptus.core.zookeeper.TypeConfigurationListener">
                    <constructor-arg value="${zookeeper.configuration.path}/type" index="0"/>
                    <constructor-arg ref="typeConfiguration" index="1"/>
                </bean>
                <bean class="org.control_alt_del.interruptus.core.zookeeper.FlowConfigurationListener">
                    <constructor-arg value="${zookeeper.configuration.path}/flow" index="0"/>
                    <constructor-arg ref="flowConfiguration" index="1"/>
                </bean>
                <bean class="org.control_alt_del.interruptus.core.zookeeper.StatementConfigurationListener">
                    <constructor-arg value="${zookeeper.configuration.path}/statement" index="0"/>
                    <constructor-arg ref="statementConfiguration" index="1"/>
                </bean>
            </list>
        </property>
    </bean>

    <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean" scope="singleton">
        <property name="targetMethod"   value="initialize"/>
        <property name="targetObject"   ref="esperDefaultProvider"/>
    </bean>
</beans>
