<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">

    <context:component-scan base-package="org.cad.interruptus.rest" />
    <context:component-scan base-package="org.cad.interruptus.core.esper" />

    <context:property-placeholder location="classpath:configuration.properties" />

    <bean id="gsonBuilder" class="com.google.gson.GsonBuilder">
        <property name="dateFormat" value="yyyy-MM-dd HH:mm:ss"/>
    </bean>

    <bean id="isLeaderReference" class="java.util.concurrent.atomic.AtomicBoolean"/>

    <bean id="configReference" class="java.util.concurrent.atomic.AtomicReference"/>

    <bean id="gson" class="com.google.gson.Gson" factory-bean="gsonBuilder" factory-method="create"/>

    <bean id="esperConfiguration"   class="com.espertech.esper.client.Configuration" scope="singleton" />

    <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean" scope="singleton">
        <property name="targetMethod"   value="addImport"/>
        <property name="targetObject"   ref="esperConfiguration"/>
        <property name="arguments"      value="com.espertech.esperio.amqp.*"/>
    </bean>

    <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean" scope="singleton">
        <property name="targetMethod"   value="addImport"/>
        <property name="targetObject"   ref="esperConfiguration"/>
        <property name="arguments"      value="com.espertech.esperio.amqp.*"/>
    </bean>

    <bean id="esperDefaultProvider" class="org.springframework.beans.factory.config.MethodInvokingFactoryBean" scope="singleton">
        <property name="staticMethod"   value="com.espertech.esper.client.EPServiceProviderManager.getDefaultProvider"/>
        <property name="arguments"      ref="esperConfiguration"/>
    </bean>

    <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean" scope="singleton">
        <property name="targetMethod"   value="initialize"/>
        <property name="targetObject"   ref="esperDefaultProvider"/>
    </bean>

    <bean id="esperDefaultProviderAdministrator"
          class="com.espertech.esper.client.EPAdministrator"
          factory-bean="esperDefaultProvider"
          factory-method="getEPAdministrator"
          scope="singleton"/>

    <bean id="esperepEPRuntimeImpl"
          class="com.espertech.esper.core.service.EPRuntimeImpl"
          factory-bean="esperDefaultProvider"
          factory-method="getEPRuntime"
          scope="singleton"/>

    <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean" lazy-init="false" scope="singleton">
        <property name="staticMethod"   value="org.cad.interruptus.AMQPJsonToMap.setEPServiceProvider"/>
        <property name="arguments"      ref="esperDefaultProvider"/>
    </bean>
    
    <util:map id="entityConfigurationListenerMap">
        
    </util:map>

    <!-- zookeeper configuration -->
    <bean id="configurationZookeeperListener" class="org.cad.interruptus.repository.zookeeper.listener.ConfigurationZookeeperListener">
        <constructor-arg index="0" ref="configReference" />
        <constructor-arg index="1" ref="entityConfigurationListenerMap" />
        <constructor-arg index="2" ref="gson" />
    </bean>

    <bean id="zookeeperLeaderListener" class="org.cad.interruptus.core.zookeeper.ZookeeperLeaderListener">
        <constructor-arg index="0" ref="isLeaderReference"/>
        <constructor-arg index="1" ref="flowConfiguration"/>
    </bean>

    <bean id="attachLeaderSelectorListener" class="org.cad.interruptus.core.zookeeper.AttachLeaderSelectorListener">
        <constructor-arg index="0" ref="zookeeperLeaderListener"/>
        <constructor-arg index="1" value="${zookeeper.leader.path}"/>
    </bean>

    <bean id="attachConfigurationListener" class="org.cad.interruptus.core.zookeeper.AttachConfigurationListener">
        <constructor-arg>
            <map>
                <entry key="${zookeeper.configuration.path}">
                    <set>
                        <ref bean="configurationZookeeperListener" />
                    </set>
                </entry>
            </map>
        </constructor-arg>
    </bean>

    <bean id="zookeeperClient" class="org.cad.interruptus.core.ZookeeperFactoryBean" lazy-init="false">
        <property name="connection" value="${zookeeper.connection}"/>
        <property name="lifecycleListeners">
            <list>
                <ref bean="attachConfigurationListener"/>
                <ref bean="attachLeaderSelectorListener"/>
            </list>
        </property>
    </bean>

    <!-- esper configuration -->
    <bean id="flowConfiguration" class="org.cad.interruptus.core.esper.FlowConfiguration">
        <constructor-arg index="0" ref="esperDefaultProvider"/>
        <constructor-arg index="1" ref="esperDefaultProviderAdministrator"/>
    </bean>
    
    <bean id="statementConfiguration" class="org.cad.interruptus.core.esper.StatementConfiguration">
        <constructor-arg index="0" ref="esperDefaultProviderAdministrator"/>
    </bean>
    
    <bean id="typeConfiguration" class="org.cad.interruptus.core.esper.TypeConfiguration">
        <constructor-arg index="0" ref="esperDefaultProvider"/>
    </bean>

    <!-- Configuration -->
    <bean id="configurationManager" class="org.cad.interruptus.repository.zookeeper.ConfigurationManager">
        <constructor-arg index="0" ref="zookeeperClient"/>
        <constructor-arg index="1" ref="configReference"/>
        <constructor-arg index="2" ref="gson"/>
        <constructor-arg index="3" value="${zookeeper.configuration.path}"/>
    </bean>

    <!-- Repository -->
    <bean id="typeConfigurationRepository" class="org.cad.interruptus.repository.zookeeper.TypeConfigurationRepository">
        <constructor-arg index="0" ref="configurationManager"/>
    </bean>

    <bean id="flowConfigurationRepository" class="org.cad.interruptus.repository.zookeeper.FlowConfigurationRepository">
        <constructor-arg index="0" ref="configurationManager"/>
    </bean>

    <bean id="statementConfigurationRepository" class="org.cad.interruptus.repository.zookeeper.StatementConfigurationRepository">
        <constructor-arg index="0" ref="configurationManager"/>
    </bean>
    
</beans>
